body { 

    margin: 0; 
    padding: 0; 
    font-family: 'Segoe UI', sans-serif; 

} 

.page-container { 

    height: 850px; 
    display: flex; 
    flex-direction: column;

} 

.bold { 

    font-weight: bold; 
    color: black;

}

.p1 { 

    font-size: 15px;
    color: black;
}

.p2 { 

    font-size: 15px;
    color: white;

}
.center { 

    display: flex;
    align-items: center;

}

header { 

    background-color: #ffadad;  
    display: flex;
    flex-direction: row;;
    padding: 15px 30px; 
    align-items: center;

} 

.logo { 
    display: flex;
    width: 50px;
    height: 50px;
    background-color: lightgrey;  
    padding: 10px;
    margin: 10px; 
    justify-content: center;
    align-items: center;

}

nav { 
    display: flex;
    background-color: #a442a4;
    justify-content: center;  
} 

main { 
    display: flex;
    background-color: #e0e0e0;
    justify-content: center;  
    align-items: center;
    height: 500px;
}

.div1 { 
    display: flex;
    background-color: #AC9E9E;
    width: 300px;
    height: 350px;
    margin-right: 200px;

}

.div2 { 
    display: flex;
    background-color: #B7B7B7;
    width: 200px;
    height: 200px;
    justify-content: center;  
    align-items: center;

}

footer { 
    display: flex;
    background-color: #B783FF;
    justify-content: center;  
    align-items: center;
    height: 150px;
    flex-direction: column;

}

.div3 { 
    display: flex;
    background-color: #D9D9D9;
    width: 500px;
    height: 50px;
    margin-top: 20px;
    justify-content: center;  
    align-items: center;

}

.ok { 

    margin-left: 20px;

}

.wow { 

    margin-left: 50px;
}