<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>    </title>
    <link rel="stylesheet" href="style.css">
    <script src="Template2.js" defer></script>
</head>
<body>
    <div class="pagecontainer">
        <header>
           <img src="Logo.png" alt="Mcdonalds" class="logo">
           <div class="off-screen-menu">
                <ul>
                    <ol><a href="Homepage.html">Home</a></ol>
                    <ol><a href="AboutUs.html">About Us</a></ol>
                    <ol><a href="Careers.html">Careers</a></ol>
                    <ol><a href="Nutrition.html">Nutrition</a></ol>
                    <ol><a href="Menu.html">Menu</a></ol>
                    <ol><a href="ContactUs.html">Contact Us</a></ol>
                </ul>
            </div>
            <nav>
                <div class="ham-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </nav>
        </header>

        <div class="main">
            <div class="hero">
                <img src="Heroimage2.webp" alt="Mcdonalds" class="hero-image">
            </div>
            <hr class="hr1">
            
            <h1>Welcome to the home of the Big Mac.</h1>
           <div class="body1"> 
                <h1 class="bodytext">Discover true happiness.</h1>
                <img src="Image1.png" alt="HappyMeal" class="Image1">
            </div>
        </div>
        <footer>
            <hr class="hr2">
            <p>&copy; 2026 Your Company Name. All rights reserved.</p>
            <p>Privacy Policy | Terms of Service | Site Map</p>
        </footer>
    </div>
</body>
</html>