h2 {
    color: orange;
    font-family: Georgia;
    font-style: italic;
}
p {
    color: blue;
    font-family: Arial;
    font-size: 15px;
}
h3 {
    color: yellow;
    font-family: Arial;
    font-weight: bold;
}