<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auckland</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="pagecontainer">
        <header>
            <img src="Logo.png" alt="AucklandLogo">
            <nav> 
                <div class="Dropdown">
                    <button class="DropdownBtn">Events</button>
                    <div class="DropdownContent">
                         <a href="Upcoming-Events.html" >Upcoming Events</a>
                         <a href="Events-Near-You.html">Events Near You</a>
                         <a href="Search-By-Category.html"> Search By Category</a>
                    </div>
                </div>
                <div class="Dropdown">
                    <button class="DropdownBtn">Discover</button>
                    <div class="DropdownContent">
                         <a href="View-All.html" >View All</a>
                         <a href="Arts-Culture.html">Arts and Culture</a>
                         <a href="Food-Drink.html">Food and Drink</a>
                    </div>
                </div>
                <div class="Dropdown">
                    <button class="DropdownBtn">About Us</button>
                    <div class="DropdownContent">
                         <a href="Our-Mission.html" >Our Mission</a>
                         <a href="Contanct-Us.html">Contact Us</a>
                         <a href="Join-Team.html">Join Our Team</a>
                    </div>
                </div>
            </nav>
        </header>
        
        <main>
            <img src="image.png" alt="Auckland" class="HeroImage">
            <div class="Main">
                <h1> Discover New Zealand's most beautiful city.</h1>
                <p class="p1">Discover all of Auckland, in one place. Your go-to for events,<br> experiences, and everything to explore Auckland.</p>
                <div class="buttons"><button class="btn1">Explore more</button>
                <button class="btn2">Most popular</button></div>
            </div>
        </main>

        <footer>
            <hr class="hr2">
            <p>&copy; 2026 Your Company Name. All rights reserved.</p><br>
            <p>Privacy Policy | Terms of Service | Site Map</p>
        </footer>
    </div>
</body>
</html>