<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DonaldTrump</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="pagecontainer">
        <header>
            <a href="Homepage.html">
                <img src="Logo.png" alt="Logo" class="logo">
            </a>
            <div class="navlinks">
                <a href="Homepage.html"><h1>Homepage</h1></a>
                <a href="AboutUs.html"><h1>About Us</h1></a>
                <a href="ContactUs.html"><h1>Contact Us</h1></a>
            </div>
        </header>
        <br>
        <div class="main">
            <h1>This is Donald J Trump.</h1>
            <hr>
            <img src="HeroImage.jpg" alt="Donald J Trump" class="himage">
        </div>
        <footer>
            <hr>
            <br>
            <p>&copy; 2026 Your Company Name. All rights reserved.</p>
            <p>Privacy Policy | Terms of Service | Site Map</p>
        </footer>
    </div>
</body>
</html>